

<head>
<style>

.wrapper{
    width:100%;
}

.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}

.wrapper .content {
    padding:50px;
    text-align:center;
}

.wrapper .content .heading{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.outer{
  position: relative;
}
.inner{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;

}


li {
margin-bottom: 35px;
}

.hello {
margin-bottom: 35px;
}

</style>
</head>

<header>
</header>


<% if user_signed_in? %>
<div class="hello"><%= "#{@user.username}さんこんにちは"  %></div>

<% @posts.each do |post| %>

    <section class="section">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-7">
              <div class="card">
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4"><%= post.title %></p>
                    </div>
                  </div>
                  <div class="content">
                  <%= link_to "詳細はこちら", "/details/#{post.id}"  %>
                    <table class="table is-narrow">
                      <tr>
                        <th>依頼内容</th>
                      </tr>
                      <tr>
                        <td><%= simple_format post.body %></td>
                      </tr>
    
                      <tr>
                      <th>依頼金額</th>
                      </tr>
                      <tr>
                        <td><%= simple_format post.price %>円</td>
                      </tr>
                    </table>
                    <% if post.user.id == current_user.id %>
                      <%= link_to "編集画面へ", edit_post_path(post), class: "button is-success" %>
                      <%= link_to "削除ボタン", "/posts/#{post.id}", method: :delete, data:{confirm: "削除しますか？"}, class: "button is-success" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
              </article>
            </div>
          </div>
        </div>
    </section>
<% end %>
    
    <div class="outer">
      <div class="inner">
      <%= paginate @posts %>
      </div>
    </div>



<% else %>
<section class="wrapper">
    <div class="container">
        <div class="content">
            <h2 class="heading">share your kindness</h2>
            <p>自由に働こう<br>自由に暮らそう</p>            
        </div>
    </div>
</section>
<% end %>